header{
    display: flex;
    flex-direction: row;
}

header > img{
    justify-self: center;
    align-self: center;
    width: auto;
    height: auto;
    margin: 1em 1em 1em 1em;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

nav a{
    padding: 0.75em;
    margin: 0.25em;
}

main{
    display: flex;
    flex-direction: column;
}

h1, h4{
    justify-self: center;
    align-self: center;
}

h2, h3{
    justify-self: center;
    align-self: center;
    padding: 0.25em;
}

section{
    display: flex;
    flex-direction: column;
}

p, pre, cite, code, audio, footer > p{
    justify-self: center;
    align-self: center;
    width: 75%;
}

table, ul{
    justify-self: center;
    align-self: center;
}

fieldset{
    justify-self: center;
    align-self: center;
    width: 75%;
    margin-bottom: 1em;
}

input{
    margin-left: 1em;
}

footer{
    display: flex;
    flex-direction: column;
    padding: 2em;
}

img, video{
    justify-self: center;
    align-self: center;
    width: 50%;
    height: auto;
}